.enunciado{
    margin-top:1rem;
    text-align: center;
}

.container{
    margin-top: 1rem;
    text-align: center;
}

.epigrafe{
    background-color: #3f51b5;
    padding:1rem;
    margin:0.5rem;
    border-radius: 0.5rem;
    color:whitesmoke;
}

img{
    width: 80%;    
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    padding:0.5rem;
    border-radius: 0.5rem;
}