.filterTxt{
    text-align: center;
}

.bodyDialog{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.containerProduct{
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem; 
    background-color: #fafafa;   
    text-align: left;
}

.check{
    float: right;;
}