.container{
    text-align: center;
    margin-bottom: 1rem;
}

.btns{
    float: right;
}

.whatsApp{
    background-color: #25D366;
    margin-left: 1rem;
}

.btnSend{
    margin-top: 0.4rem;
    float: right;
}