/* You can add global styles to this file, and also import other style files */

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }

.btn{
    color:white;
    border-radius: 2rem;   
    height: 3rem; 
    margin-bottom: 0.5rem;
}

.FAB{    
    position: fixed !important;
    bottom: 15px;
    right: 15px;
}

.mat-dialog-container{        
    margin: 0 auto;
    background: #c5cae9; 
    border-radius: 0.5rem;
}

.mat-dialog-content{
    background: #e0e0e0;    
}
